
/* Default Style */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');
html{
    
    scroll-behavior: smooth;
}
    body {
    margin: 0;
    font-family:  'Montserrat', sans-serif ; 
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff; 
    font-size: 18px;
    }
    img{
        max-width: 100%; 
    }
    *, ::after, ::before {
        box-sizing: border-box;
    }
    .container{
        margin-left: auto;
        margin-right: auto;
        width: 1170px; 
    }
    .row{ 
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(var(--bs-gutter-y) * -1);
        margin-right: calc(var(--bs-gutter-x)/ -2);
        margin-left: calc(var(--bs-gutter-x)/ -2);
    } 
    a{
        text-decoration: none;
    }
    .row::after, section::after , header::after, footer::after{
        content:''; 
        display: block; 
        clear: both; 
    }
    .col-4, .col-6,
    .col-8, .col-12{
        padding: 5px 15px ; 
    }
    .col-6{
        width: 50%;  
    }
    .col-4{
        width: 33.33%;  
    }
    .col-8{
        width: 66.66%; 
    }
    .col-12{
        width: 100%; 
    }
    .py-0{
        padding-top: 0; 
        padding-bottom: 0; 
    }
    .text-center{
        text-align: center;  
    }
    .text-right{
        text-align: right; 
    }
    .d-inline{
        display: inline; 
    }
    .d-block{
        display: block; 
    }
    .form-control {
        display: block;
        width: 100%;
        padding: 10px 5px;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem; 
    }
    textarea.form-control {
        background-color: #ebebeb;
        color: #000;
    }
    .text-light{

        color: white !important; 
    }
    .btn {
        display: block;
        border-style: none;
        border-radius: 5px; 
        width: 294px;
        height: 50px;
        max-width: 100%;   
        font-size: 18px;
        line-height: 50px;
        font-weight: 700;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif ;
        font-style: normal;
        text-align: center;
        background-repeat: no-repeat;
        text-transform: uppercase;
    }
    .btn-default{  
        background: #fbc93d;
        box-shadow: none;
        text-shadow: none;
        color: #494949;
        border-radius: 10px;
    }
    .btn-havy{ 
        background: #eac14f;
        box-shadow: none;
        text-shadow: none;
        color: #494949;
        border-radius: 10px;
    }
    section{
        padding: 40px 0; 
    }
.center-align{
    align-items: center; 
}
.text-uppercase{
    text-transform: uppercase;
}
    h2{
        font-size: 36px; 
    }
.section-title{
    padding-bottom: 30px; 
    max-width: 90%;
    margin-left: auto; 
    margin-right: auto;
}
/* Default Style End */
/* Header Style */
.header_action{
    text-align: center; 
    max-width: 290px;
    float: right;
}
header{
    padding: 15px 0; 
}
.promotion{ 
    display: flex;
    background: rgb(241 185 86); 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 0px;
    width: 100%;
    min-height: 50px; 
    color: #262626; 
    justify-content: center;
    align-items: center; 
    font-size: 20px;
    font-weight: 700;
}
.call-to-action{
    padding: 40px 0  ;
    color: #e7f9ff; 
    background: #124192; 
}
.call-to-action h2 {
    font-size: 36px; 
    margin: 0 auto; 
    line-height: 1.3;
}
/* Hero Banner */ 

.hero_banner{
    display: block;
    background: rgba(0,0,0,0.65);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;    
    width: 100%;
    min-height: 564px;
    position: relative;
    color: #fff; 
    padding: 30px 0; 

}
.hero_banner  .row{
    align-items: center;
}
.colored-overlay::before{
    content:''; 
    display: block; 
    width: 100%; 
    height: 100%; 
    position: absolute; 
    background: rgba(0,0,0,0.65);
    top:0; 
    left: 0;
    z-index: 0;
}
.hero_text {
    position: relative;
    width: 660px;
    z-index: 1;
    max-width: 100%;
}
.hero_text h1{
    font-size: 62px; 
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 0;
    margin-top: 0; 
	color:#e7f9ff; 
    font-family: 'Quicksand', 'Montserrat', sans-serif;
}
.hero_text p {
    font-size: 24px; 
}
h3,h2,h4,h5{
    font-family: 'Quicksand', 'Montserrat', sans-serif;

}

.request-consultation .form-header{
    color: #fff; 
    display: block;
    background: #494949;  
    max-width: 379px; 
    min-height: 75px; 
    max-width: 100% ; 
    font-weight: bold;
    border-radius: 10px 10px 0 0 ; 
    text-align: center; 
    font-family: "Josefin Sans",Arial, Helvetica, sans-serif;
}

.request-consultation .form-header p {
    margin: 0; 
}
.request-consultation{ 
        display: block;
        background: rgba(255,255,255,1); 
        max-width: 379px;
        min-height: 464px; 
        position: relative; 
        z-index: 1;
        border-radius: 10px ; 
} 
label, input{
    display: block;font-size: 14px; 
}
.request-consultation .form-header,
.request-consultation .form-body{
    padding: 25px; 
}
.request-consultation .form-body{
    color: #676767; 
}

.request-consultation .text{
    background-color: #e2e2e2;
    color: #000;
    border-radius: 5px; 
    height: 41px;
    font-size: 13px;
    line-height: 13px;
    padding-left: 13px;
    padding-right: 13px;
    flex: 1;
    width: 100%; 
    border: 0px; 

}

.request-consultation .form-group{
    margin-bottom: 20px;
}
.request-consultation .btn-default{
    width: 100%; 
    background-color: #fbc93d;
}

.request-consultation .form-title{
    font-size: 20px; 
}

/* Service Section */
.services{
    padding: 20px 0;
    display: block;
    color: #ffffff; 
    background: #124192; 
} 
.service-box{
    display: block; 
    max-width: 400px; 
    margin: auto; 
    margin-left: auto; 
    margin-right: auto; 
    width: 100%; 
}
.service-box.bordered{
    border: 1px solid #e2e2e2; 
    padding: 25px; 
    max-width: 400px;
    width: 100%; 
}
.service-box.bordered
.img {
       
    z-index: 77;
    width: 70px;
    height: 60px; 
    margin-left: auto; 
    margin-right: auto; 
    justify-content: center;
    line-height: 50px;
    padding-top: 9px;
}
input[type="submit"]{
    cursor: pointer; 
}

/* Testimonials */
.testimonials{
    text-align: center; 
    vertical-align: top;
}
.section-title h2 {
    margin: 0; 
}
.testimonial{ 
    vertical-align: top;
    display: inline-block;
    background: rgba(250,250,250,1);
    border-style: solid;
    border-width: 1px;
    border-color: #e2e2e2; 
    border-radius: 10px;
    z-index: 38;
    width: 568px;
    min-height: 240px; 
    max-width: 45%; 
    padding: 30px;
    margin: 15px;  
    color: #2e2e2e; 
}
.colored-title
h3{
    color: #fe4949;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.testimonial_author{
    padding-top: 20px; 
}
.testimonial_text{ 
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
}
.transparentArea{
    min-height: 300px; 
    background: url(../images/transparent-bg.jpg) center center fixed; 
    background-size: cover;
}
/* map */
.map iframe{
    width: 100%; 
    height: 400px;
    margin: 0; 
    margin-bottom: -10px;
}

/* Footer */

.footer-top{
    padding: 50px 0; 
    background-color: #124192;
    color: #ffffff; 
}
.info-box{
    border: 1px solid #b0ede2; 
    border-radius: 5px; 
    padding: 20px;
}
.footer-top .info-box{
    max-width: 450px;
    width: 95%; 
    margin-left: auto; 
    margin-right: auto; 
}
.copyright{
    padding: 30px 0; 
    background-color: #124192;
    color: #fff; 
}

.copyright a {
    background-color:#124192;
    color:  #fff;
}
.button-group{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center; 
     
}
.sticky-call-to-action{
    background-color: #333333;
    padding: 15px; 
    color: #fff; 
    position: sticky;
    bottom: 0;
    z-index: 10; 
}
.button-group >div {
    margin: 5px 20px; 
}
.pt-5{
    padding-top: 20px; 
}
.inline-block{
    display: inline-block;
}
.thank-you-banner{
    min-height: 300px; 
    padding: 60px 0;
}
@media all and (min-width: 1200px){ .col-d-2{width: calc(33% / 2)}}
@media all and (max-width: 1200px){
    .container{
        max-width: 90%; 
    }
    body, .btn{
        font-size: 16px; 
    }
}
@media all and (max-width: 991px){
    html, body{
        overflow-x: hidden;  
        max-width: 100%; 
    }
    .col-4, .col-8{
        width: 100%; 
        margin-bottom: 15px; 
        margin-top: 15px; 
    }
    .hero_text{
        width: 100%; 
        text-align: center; 
    }
    .hero_text h1{
        font-size: 40px; 
    } 
    .call-to-action h2 {
        font-size: 30px;
    }
    .map iframe{
        height: 350px; 
    }
    .request-consultation{
        margin-left: auto; 
        margin-right: auto; 
    }
    .promotion{
        font-size: 18px; 
    }
    section {
        padding: 50px 0;
    }
    .sticky-call-to-action .btn {
        width: 220px; 
    }
}

@media all and (max-width: 767px){
    .testimonial{
        max-width: 90%; 
    }
    footer .col-6{
        width: 100%; 
    }
    .copyright{
        text-align: center; 
    }
    .call-to-action {
        padding: 50px 15px; 
    }
    .copyright .text-right{
        text-align: center; 
    }
    .sticky-call-to-action .or{
        display: none; 
    }
}
@media all and (max-width: 650px){
    .col-6{
        width: 100%; 
    }
    .header_action{
        float: none; 
        margin: auto; 
    }
    header .logo{
        text-align: center; 
    }
}
@media all and (max-width: 550px){
    .request-consultation .form-header, .request-consultation .form-body {
        padding: 15px;
    } 
     .promotion{
        font-size: 14px; 
    }
    
}
@media all and (max-width: 350px){
  
    .hero_text h1 {
        font-size: 30px;
    }
    .hero_text p{
        font-size: 18px; 
    }
    h2 {
        font-size: 26px;
    }
}